.deck-box-sideways {
    position: relative;
    aspect-ratio: 570/420;
    width: 100%;
    border-radius: 30px 30px 2px 2px;
    overflow: hidden;
    background-color: #0c0c0c;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: all 0.2s ease;
    
    border: 2px solid #333;
}

.deck-side-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background-size: 120%;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.deck-box-sideways::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: radial-gradient(
        circle at 50% -50%, 
        rgba(0, 0, 0, 0) 30%, 
        #0c0c0c9d 45%, 
        transparent 46%
    );
    
    z-index: 1; 
    pointer-events: none;
}

.deck-side-info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 85%;
    padding: 10px 20px;
    
    background-color: rgba(15, 15, 15, 0.85);
    border-radius: 50px; 
    border: 1px solid var(--mtg-gold);
    backdrop-filter: blur(2px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.deck-side-name {
    color: var(--mtg-gold); font-family: 'Cinzel', serif; font-weight: bold;
    font-size: 1.1em; margin-bottom: 2px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.deck-side-format {
    color: #ccc; 
    font-size: 0.8em; text-transform: uppercase; letter-spacing: 1px;
}

.deck-box-sideways:hover {
    transform: translateY(-0px);
    border-color: #555;
}

.deck-box-sideways:hover .deck-side-info {
     background-color: rgba(15, 15, 15, 0.95); 
}

.deck-box-sideways.selected {
    border: 2px solid var(--mtg-gold) !important;
    box-shadow: 0 0 20px rgba(198, 166, 104, 0.5) !important;
    transform: translateY(-0px);
}